html {
  all: unset;
}

body {
  margin: 0;
  height: 100dvh;
  width: 459px;
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* Header Component */

.phoneStatus {
  background-color: black;
  color: white;
  height: 1.35rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.phoneStatus p {
  all: unset;
  color: white;
  font-size: small;
  margin: 0;
}

.phoneStatus button {
  all: unset;
  color: red;
}

img {
  max-width: 100%;
  height: auto;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.batteryLevel {
  display: flex;
  align-items: flex-end;
}

.seperator {
  background-color: #091721;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

/* Taskbar select */

h1 {
  color: #bfe3ff;
  font-size: small;
}

.taskSelect {
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(210, 46%, 5%);
  border: solid hsl(0, 100%, 50%, 60%) 1px;
}

button {
  all: unset;
  display: inline-block;
  text-align: center;
}

.selected {
  all: unset;
  display: inline-block;
  text-align: center;
  background-color: #dd0f26;
}

/* TaskList */

.lowp {
  position: relative;
}

.low {
  max-width: 100%;
  height: 30.2vh;
  background-color: hsla(218, 44%, 14%, 0.975);
  border: solid hsl(0, 100%, 50%, 60%) 1px;
  overflow: auto;
}

.outer {
  height: 8vh;
  background-color: hsl(210, 46%, 5%);
}

/* Activities */
ul {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0;
  list-style: none;
}
